@media (max-width: 768px) {
    #header {
    padding: 0%;
    }

    .bgfornav{
        background-color: rgba(0, 0, 0, 0.669);
        border-radius: 40px;
        backdrop-filter: blur(8px);
        z-index: 3;
        margin-top: none !important;
        font-size: 10px;
    }

    .reduceimg{
        width: 12px;
        height: 12px;
    }
    
    .nav-link{
        color: aliceblue !important;
        border-radius: 40px !important;
        color: #ffffff !important;
    }
    
    .nav-item{
        display: inline-block;
    }
    .nav-item :hover{
        background-color: rgb(255, 255, 255);
        color: black !important;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .texth1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10%;
        padding: 0;
        font-size: 4rem;
    }

    .test{
        height: 100vh;
        padding: 10%;
    }
    .animated-text {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10%;
        padding: 0%;
        transition: opacity 0.5s ease-out;
        text-align: center;
        font-size: 3rem;
    }
    .paragraph {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10%;
        padding: 0%;
        font-size: 2rem;
        text-align: center;
    }
    .body{
        height: 70vh;
    }
}

