
/*font-family: 'Pencerio', cursive;*/
/*font-family: 'Tanker', sans-serif;*/
/*font-family: 'SF Pro Display', sans-serif;*/
                                                



.body {
    background-image: url(images/b1.jpg);
    background-size: cover;
    background-position: 50% 50%;
    
}

.texth1{
    padding-left: 10%;
    font-size: 4rem;
}
.animated-text {
    transition: opacity 0.5s ease-out;
    text-align: center;
    font-size: 6rem;
}
.paragraph{
    padding-left: 20%;
    font-size: 2rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}
.bgfornav{
    background-color: rgba(0, 0, 0, 0.669);
    border-radius: 40px;
    backdrop-filter: blur(8px);
    z-index: 3;
    margin-top: 20px;
    font-size: 15px;
}

.nav-link{
    color: aliceblue !important;
    border-radius: 40px !important;
    color: #ffffff !important;
}

.nav-item{
    display: inline-block;
}
.nav-item :hover{
    background-color: rgb(255, 255, 255);
    color: black !important;
    margin-top: 10px;
}

.svgimg{
    width: 15px;
    height: 15px;
}

.test{
    height: 100vh;
    padding: 15%;
}


.button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #000; 
    text-decoration: none;
    transition: all 0.5s;
    overflow: hidden;
    border: 2px solid #000; 
    border-radius: 40px;
}

.button:hover {
    border-color: #fff;
    color: #fff;
}
.button:hover .button-background {
    transform: none; 
}

.button-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    transform: translate3d(-100%, 0, 0);
    transition: all 0.5s;
}

.button-text {
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
}

.button-icon {
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    transition: all 0.5s;
}

.button:hover .button-icon {
    transform: translateX(5px);
}

.card:hover {
    transition: all .5s ease;
    box-shadow: 5px 5px 15px rgba(0,0,0,1);
}
.card::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: all .5s ease;
}
.card:hover::before{
    opacity: 1;
}

.hover{
    transition: color 0.5s, transform 0.5s;
}


.hover:hover{
    transform: translateY(-5px);
}


/* drop down css */
